body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

/* * {
    outline: 1px solid #f00 !important;
} */

#canvas {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  object-fit: cover;
  z-index: -1;
}

.canvas-filter {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.5) 2.71%,
    rgba(255, 255, 255, 0.8) 67.78%,
    #ffffff 100%
  );
}

.navbar-nav {
  font-weight: 600;
}

.navbar .navbar-nav .nav-link:hover {
  color: #cf40cb;
}

.content {
  margin-top: 150px;
  padding: 40px;
}

.intro {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.intro-bio {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  width: clamp(20.5rem, 25vw, 55rem);
}

.intro-heading1 {
  font-family: "Raleway", sans-serif;
  font-size: clamp(30px, 8vw, 70px);
  font-weight: 700;
}

.custom-toggler.navbar-toggler {
  border-color: transparent;
}

.custom-toggler.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.divider1 {
  margin-bottom: 300px;
}

.divider2 {
  margin-bottom: 50px;
}

/* .navbar {
    visibility: hidden;
} */

.callToAction {
  width: 215px;
  height: 50px;
  background: linear-gradient(314.65deg, #fd4df6 -0.61%, #fda14d 100%);
  border-radius: 96px;
  border: none;
  color: white;
  transition: all 0.1s ease-in-out;
}
.callToAction:hover {
  transform: scale(1.05);
}

.bi-github,
.bi-git,
.bi-rocket-takeoff-fill,
.bi-linkedin {
  color: #cf40cb;
  font-size: 25px;
}

.bi-caret-right-fill {
  color: #cf40cb;
}

.techUsed {
  font-size: 12px;
  color: grey;
}

.card-img-top {
  border: solid 1px #cf40cb;
}

.contactH1 {
  font-size: clamp(3rem, 5vw, 3.5rem);
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
  color: #cf40cb !important;
}